body {
  margin: 0;
  padding: 20px;
  background-color: rgb(219, 186, 77);
  color: rgb(107, 52, 16);
}

h1 {
  color: rgb(107, 52, 16);
  font-size: 36px;
  font-family: 'Charm', cursive;
}

h2 {
  margin-bottom: 4px; 
}

p {
  margin-top: 0;
  font-size: 20px;
}

span {
  font-weight: normal;
  font-size: 30px;
}

.span2 {
  font-size: 40px;
  margin-top: 0px;
  margin-right: 8px;
  margin-left: 8px;
  font-family: cursive;
}
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-items {
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

nav {
  margin: 4px;
  background-color: rgb(55, 161, 158);
  color:rgb(107, 52, 16);
  font-family: 'Charm', cursive;
  border-style: groove;
  border-width: 4px;
  border-color: rgb(107, 52, 16);
}

nav a {
  font-size: 20px;
  font-weight: bolder;
  color:rgb(107, 52, 16);
}

a {
  text-decoration: none;
  color:rgb(107, 52, 16);
}

a:hover {
  text-decoration: underline;
}

td, th {
  display: flex;
  align-items: start;
  justify-content: space-around;
  font-size: 24px;
  font-family: 'Charm', cursive;
}

.keeper-title {
  display: flex;
  justify-content: center;
}

.keepers {
  background-color: rgb(214, 187, 99);
  display: flex;
  justify-content: center;
  color:rgb(107, 52, 16);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.keepers a {
  color:rgb(107, 52, 16)
}

.keeper-showtitle {
  display: flex;
  justify-content: center;
}

.keeper-beast {
  font-size: 20px;
  list-style-type: none;
  font-family: 'Charm', cursive;
}

.add-individual {
  background-color: transparent;
  font-size: 16px;
  color: rgb(107, 52, 16);
  border-color: transparent;
  font-family: 'Charm', cursive;
}

.select-beast {
  color: rgb(107, 52, 16);
  font-family: 'Charm', cursive;
  font-size: 18px;
}

.select-beast ul {
  font-size: 20px;
}

.beast-show {
  color: rgb(107, 52, 16);
  font-family: 'Charm', cursive;
  margin: 30px;
}

.edit-button {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.button {
  font-size: 18px;
  background-color: transparent;
  color: rgb(107, 52, 16);
  border-color: transparent;
  font-family: 'Charm', cursive;
}

.button:hover {
  font-size: 20px;
  font-weight: bolder;
}

.homepage-title1 {
  font-size: 36px;
  font-family: 'Charm', cursive;
  margin-bottom: 0px;
}

.homepage-title2 {
  color:rgb(107, 52, 16);
  margin-top: 4px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  font-size: 36px;
  font-family: 'Charm', cursive;
  margin-bottom: 6px;
}

.keeper-image {
  width: 300px;
}

.new-beast {
  font-family: 'Charm', cursive;
  font-size: 24px;
  margin-left: 50px;
}

.beast-content {
  color: rgb(107, 52, 16);
  list-style-type: none;
  font-family: 'Charm', cursive;
  margin-left: 50px;
  margin-right: 50px;
}

/* .keeper-hold {
} */



.beast-title {
  font-size: 40px;
  display: flex;
  justify-content: center;
}