body {
  margin: 0;
  padding: 20px;
  background-color: rgb(221, 198, 106);
  color: rgb(107, 52, 16);
}

h1 {
  font-size: 36px;
  font-family: 'Apple Chancery', cursive;
}

  .nav-items {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }

  nav {
  margin: 4px;
  background-color: rgb(56, 137, 146);
  color:rgb(107, 52, 16);
  font-family: 'Apple Chancery', cursive;
  font-style: bold;
  font-size: 16px;
  border-style: groove;
  border-width: 4px;
  border-color: rgb(107, 52, 16);
}

  nav a {
    /* display: flex;
    justify-content: space-around;
    flex-direction: row; */
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(107, 52, 16);
}
  .keeper-title {
    display: flex;
    justify-content: center;
  }
  
  .keepers {
    display: flex;
    justify-content: center;
    color:rgb(107, 52, 16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .keepers a {
    color:rgb(107, 52, 16)
  }

  .keeper-showtitle {
    display: flex;
    justify-content: center;
  }

  .select-beast {
    color: rgb(107, 52, 16);
    font-family: 'Apple Chancery', cursive;
  }

  .beast-show {
    color: rgb(107, 52, 16);
    font-family: 'Apple Chancery', cursive;
  }

  .delete-button {
    background-color: transparent;
    color: rgb(107, 52, 16);
    border-color: transparent;
    font-family: 'Apple Chancery', cursive;
  }

  .add-button {
    background-color: transparent;
    color: rgb(107, 52, 16);
    border-color: transparent;
    font-family: 'Apple Chancery', cursive;
  }

  .homepage-title1 {
    font-size: 36px;
    font-family: 'Apple Chancery', cursive;
  }

  .homepage-title2 {
    display: flex;
    align-self: center;
    align-items: flex-start;
    font-size: 36px;
    font-family: 'Apple Chancery', cursive;
  }

.homepage-image {
  display: flex;
  align-items: flex-end;
}

.keeper-image {
  width: 300px;
}

.new-beast {
  font-family: 'Apple Chancery', cursive;
}
.beast-content {
  color: rgb(107, 52, 16);
  list-style-type: none;
}
    
    ul {
      list-style-type: none;
      font-family: cursive;
    }

  /* h1, h2, h3, h4, h5 {

  } */