body {
  margin: 0;
  padding: 20px;
  background-color: rgb(221, 198, 106);
  color: rgb(107, 52, 16);
}
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Apple Chancery', cursive;
  }

  nav {
  margin: 4px;
  padding: 4px;
  background-color: rgb(56, 137, 146);
  color:rgb(107, 52, 16);
  font-family: 'Apple Chancery', cursive;
  font-style: bold;
  font-size: 16px;
  
}

  nav a {
    /* display: flex;
    justify-content: space-around;
    flex-direction: row; */
    text-decoration: none;
    color:rgb(107, 52, 16);
}

  nav li {
    list-style-type: none;
}

  #content {
    margin: 0;
    padding: 100px;
    list-style-type: none;
}

.beast-content {
  list-style-type: none;
}
    
    ul {
      list-style-type: none;
      font-family: cursive;
    }

  h1, h2, h3, h4, h5 {

  }