{% extends 'base.jinja' %}

{% block content %}

<div class="home">
  <h1 class="homepage-title1">Magical <span class="span2">Beasts</span> and Where</h1>

  <h1 class="homepage-title2">We <span class="span2"> Mend </span> Them</h1>

  <img class="homepage-image" src="/static/images/niffler_under_willow.jpg">
</div>

{% endblock  %}