{% extends 'base.jinja' %}

{% block content %}

<h1 class="homepage-title1">Magical Beasts and Where</h1>

<h2 class="homepage-title2">   We Mend Them</h2>

<img class="homepage-image" src="/static/images/niffler_under_willow.jpg">

{% endblock  %}