{% extends 'base.jinja' %}

{% block content %}
  <h1>Our Keepers</h1>

  <table class="table">
    <tr class="headers"> </tr>
    {% for keeper in keeper %}
    <tr>
      <td><a href="keepers/{{ keeper.id }}"> {{ keeper.name }}</a></td>
      <td>{{ keeper.name_of_hold }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock content %}