{% extends 'base.jinja' %}

{% block content %}
<h1>{{ keeper.name }}</h1>
  
  <h2>Hold: {{ keeper.name_of_hold }}</h2>

  <h1>Beasts:</h1>
  <p>
    {% for beast in keeper.beasts %}
      <p>{{ beast.name }}</p>
    {% endfor %}
  </p>
{% endblock content %}