{% extends 'base.jinja' %}

{% block content %}

  <div class="keeper-showtitle">
    <h1>{{ keeper.name }}'s {{ keeper.name_of_hold }}</h1>
  </div>

  <form class="select-beast" action="/keepers/{{ keeper.id }}/add" method="POST">
    <input type="submit" value="add"/>
    <label for="beast">Select a Beast:</label>
      <select name="beast" id="beast">
        {% for beast in beasts %}
          <option value="{{beast.id}}"> {{ beast.name }}</option>
        {% endfor %}
      </select>
  </form>

    {% for beast in keeper.beasts %}
    <ul>
      <li>
      <h2>{{ beast.name }}</h2>
      <h3>Date of Birth: {{ beast.dob }}</h3>
      <h3>Species: {{ beast.species }}</h3>
      <h3>Ailment: {{ beast.ailment }}</h3>
      <h3>Treatment: {{ beast.treatment }}</h3>
      </li>
    </ul>

    <div class="delete-keeper-beast">
      <form 
        class="delete-form"
        action="/keepers/{{ keeper.id }}/beasts/{{ beast.id }}/delete"
        method="POST">
        <input class="delete-button" type="submit" value="delete" />

      </form>
    </div>
    <hr>
    {% endfor %}

{% endblock content %}