{% extends 'base.jinja' %}

{% block content %}
  <div class="beast-content">
  <h1>Our Beasts and Where They Reside</h1>
{% for beast in beasts %}
  <a href="beasts/{{ beast.id }}"><h1>{{ beast.name }}</h1></a>
  <h2>Keeper: {{ beast.keeper.name }} Hold: {{ beast.keeper.name_of_hold }}</h2>
  </div>

  <div class="delete-beast">
    <form 
    class="delete-form"
    action="beasts/{{ beast.id }}/delete"
    method="POST">
    
      <input class="delete-button" type="submit" value="delete" />

    </form>
  </div>

{% endfor %}


{% endblock content %}