{% extends 'base.jinja' %}

{% block content %}
  
  <h1>Book a New Beast</h1>

  <form action="/beasts/new" method="post">

    <div>
      <label for="name">Name:</label>
      <input 
          type="text" 
          id="name" 
          name="name" 
          required 
          autofocus 
      />
    </div>

    <div>
    <label for="dob">Date of Birth:</label>
    <input 
        type="text" 
        id="dob" 
        name="dob" 
        required
    />
    </div>

    <div>
    <label for="Species">Species:</label>
    <input
        type="text"
        id="species"
        name="species"
    />
    </div>

    <div>
    <label for="Ailment">Ailment:</label>
    <input
        type="text"
        id="ailment"
        name="ailment"
    />
    </div>

    <div>
    <label for="treatment">Treatment Plan:</label>
    <input 
      type="text"
      id="treatment"
      name="treatment"
    />
    </div>

    <div>
    <label for="keeper">Keeper:</label>
      <select name="keeper" id="keeper">

          {% for keeper in keepers %}
              <option value="{{ keeper.id }}">{{ keeper.name }}</option>
          {% endfor %}
          
      </select>
    </div>
    <button type="submit">Add Beast</button>

  </form>

{% endblock %}