  {% extends 'base.jinja' %}

  {% block content %}
  <div class="beast-show">
    <h1>{{ beast.name }}</h1>
    <h2>Date of Birth: {{ beast.dob }}</h2>
    <h2>Species: {{ beast.species }}</h2>
    <h2>Current assigned Keeper is {{ beast.keeper.name }}</h2>
    <h2>Little {{ beast.name }} is currently being treated for: {{ beast.ailment }}</h2>
    <h2>Their treatment plan is currently: {{ beast.treatment }}</h2>
    <a href="/beasts/{{ beast.id }}/edit">Edit</a>
  </div>
  {% endblock content %}